*/**/**/.pdf
*/**/**/**/.pdf
*.pdf
*/**/**/.jpg
*/**/**/**/.jpg
*.jpg
*/**/**/.docx
*/**/**/**/.docx
*.docx
**/**/**/**.jpg

Sem2/public_health_analytics/practical8/axialMri-1/*
Sem2/public_health_analytics/practical8/axial_MRI.v2-release.yolokeras/*
